.disease {
    padding-top: 100px;
}

.disease__title {
    font-size: 35px;
    margin-bottom: 70px;
}

.disease__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.disease__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / 4) - 20px);
    height: 150px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    border: 2px solid var(--border);
    transition: border-color .3s, box-shadow .3s;
}

.disease__item:hover {
    border-color: var(--orange);
    box-shadow: 5px 2px 20px 0px var(--border);
}

.disease__btn {
    color: var(--gray);
    line-height: 20px;
    transition: color .3s;
}

.disease__item:hover .disease__btn {
    color: var(--orange);
}


/*modal*/

.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(112, 124, 143, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: 20;
    visibility: hidden;
    transition: .4s ease-in-out;
    overflow-y: scroll;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 35px 90px 60px;
    height: 550px;
    max-width: 800px;
    top: 0;
    border: 1px solid var(--white);
    background-color: var(--white);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transition: .4s ease-in-out;
}

.modal-overlay--visible {
    opacity: 1;
    visibility: visible;
    transition: .4s ease-in-out;
}

.modal.modal--visible {
    visibility: visible;
    opacity: 1;
    position: relative;
    transform: perspective(600px) translate(0, 0%) rotateX(0deg);
    transition: .4s ease-in-out;
}

.modal__btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
}

.modal__close {
    width: 20px;
    height: 20px;
}

.modal-overlay__text {
    max-width: 90%;
    font-size: 16px;
}

.modal__block {
    margin-bottom: 20px;
}

.modal__title {
    margin-bottom: 15px;
    font-weight: 400;
}

.modal__item {
    font-size: 16px;
}

.modal__item::before {
    content: "—";
    margin-right: 10px;
}

.block-decoration {
    background-color: #edf2f5;
    padding: 40px 32px;
    border-radius: 20px;
    font-weight: 600;
}

.scrollbar {
    float: left;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #fdfdfd;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #d2d1d1;
    border: 1px solid #ffffff;
    border-radius: 20px;
}