@media (max-width: 1130px) {
  .photo__grid {
    grid-template-columns: repeat(3, 100px) 180px 1fr 2fr;
    gap: 20px;
  }

  .item-10,
  .item-11 {
    background-position: center center;
  }

  .consultation__stage-left {
    left: 9%;
  }
}

@media (max-width: 1030px) {
  body {
    font-size: 18px;
  }

  .header {
    z-index: 5;
  }

  .header__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .header__nav {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    background-color: var(--white);
    top: 90px;
    left: 0;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    padding: 50px;
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition: visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }

  .nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav .nav__item {
    line-height: 50px;
  }

  .nav--active {
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    padding-left: 30px;
  }

  .nav__link {
    font-weight: normal;
  }

  .close {
    display: block;
    margin-bottom: 100px;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger {
    width: 40px;
    height: 25px;
    display: block;
    visibility: visible;
    position: relative;
  }

  .burger--active .burger__line {
    background-color: var(--orange);
    -webkit-transform: rotate(45deg) translateY(5px);
    -ms-transform: rotate(45deg) translateY(5px);
    transform: rotate(45deg) translateY(5px);
  }

  .burger--active .burger__line:nth-child(2) {
    -webkit-transform: rotate(-45deg) translateY(-5px);
    -ms-transform: rotate(-45deg) translateY(-5px);
    transform: rotate(-45deg) translateY(-5px);
  }

  .burger::after {
    content: "";
    top: 0;
    left: 0;
    outline: none;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 3px;
    border-radius: inherit;
    background-color: var(--gray);
    -webkit-transition: width 0.1s, -webkit-transform 0.1s;
    transition: width 0.1s, -webkit-transform 0.1s;
    -o-transition: width 0.1s, transform 0.1s;
    transition: width 0.1s, transform 0.1s;
    transition: width 0.1s, transform 0.1s, -webkit-transform 0.1s;
  }

  .burger__line:nth-child(1) {
    top: 5px;
  }

  .burger__line:nth-child(2) {
    top: 51%;
  }

  .specialists__card {
    flex-basis: calc(50% - 10px);
    background-size: 45%;
  }

  .specialists__container {
    gap: 20px;
  }

  .specialists__info,
  .specialists__descr {
    padding: 40px;
  }

  .disease__btn {
    font-size: 18px;
  }

  .contacts {
    font-size: 18px;
  }

  .ac .ac-header {
    font-size: 18px;
  }

  .ac .ac-panel .ac-text {
    padding: 20px;
    font-size: 18px;
  }

  .photo__grid {
    grid-template-columns: repeat(3, 100px) 180px 1fr;
  }
}

@media (max-width: 920px) {
  .hero-container {
    padding-top: 70px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  .hero__text {
    max-width: 60%;
    font-size: 18px;
    line-height: 25px;
  }

  .hero__btn {
    margin-bottom: 70px;
  }

  .disease__item {
    width: calc((100% / 3) - 20px);
  }

  .specialists__card {
    flex-basis: 100%;
    min-height: 350px;
    background-size: 25%;
  }

  .specialists__name {
    max-width: 100%;
  }

  .specialists__info {
    padding-bottom: 20px;
  }

  .specialists__descr {
    padding-top: 20px;
  }

  .specialists__call {
    flex-direction: column;
  }

  .specialists__call-text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .contacts-container {
    flex-direction: column;
  }

  .contacts-info {
    margin-bottom: 20px;
  }

  .photo__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .photo__item {
    display: block;
    width: 48%;
    height: 400px;
  }

  .item-text {
    display: flex;
    width: 100%;
    height: 300px;
    gap: 40px;
  }

  .category__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category__btn {
    width: 30%;
  }

  .modal {
    max-width: 80%;
  }


}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }

  .hero__text {
    font-size: 16px;
  }

  .burger--active .burger__line {
    background-color: var(--orange);
    -webkit-transform: rotate(45deg) translateY(5.5px);
    -ms-transform: rotate(45deg) translateY(5.5px);
    transform: rotate(45deg) translateY(5.5px);
  }

  .burger--active .burger__line:nth-child(2) {
    -webkit-transform: rotate(-45deg) translateY(-5.5px);
    -ms-transform: rotate(-45deg) translateY(-5.5px);
    transform: rotate(-45deg) translateY(-5.5px);
  }

  .title,
  .info-title {
    font-size: 20px;
  }

  .about__text:last-child {
    margin-bottom: 50px;
  }

  .consultation__stages,
  .consultation__stages {
    margin-bottom: 0px;
  }

  .video {
    padding-bottom: 0px;
  }

  .disease {
    padding-top: 50px;
  }

  .disease__btn {
    font-size: 16px;
  }

  .specialists {
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .specialists__container {
    margin-bottom: 50px;
  }

  .ac .ac-header {
    font-size: 16px;
  }

  .contacts {
    padding-top: 50px;
    font-size: 16px;
  }

  .ac .ac-panel .ac-text {
    padding: 15px;
    font-size: 16px;
  }

  .contacts__info span {
    font-size: 16px;
  }

  .consultation__stage-right {
    right: 2%;
  }

  .item-1 {
    width: 100%;
  }

  .item-9 {
    width: 100%;
  }

  .specialists__card {
    background-size: 30%;
  }
}

@media (max-width: 700px) {
  .header__container {
    padding: 15px 20px;
  }

  .header__nav {
    padding: 25px;
  }

  .nav__list .nav__item {
    padding: 0 15px;
  }

  section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__nav {
    top: 75px;
  }

  .hero-container {
    padding-top: 50px;
  }

  .hero__descr {
    margin-bottom: 10px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__btn {
    margin-bottom: 50px;
  }

  .list__item {
    padding: 20px;
    margin-bottom: 0;
  }

  .consultation {
    padding-top: 60px;
  }

  .problems__list {
    flex-direction: column;
  }

  .item-left,
  .item-right {
    width: 100%;
    gap: 20px;
  }

  .specialists__card {
    background-size: 35%;
  }

  .ac .ac-trigger {
    padding: 20px 0px 20px 0;
  }

  .contacts-info {
    width: 100%;
    max-width: 100%;
  }

  .info-title {
    padding-top: 50px;
  }

  .contacts {
    padding-bottom: 0px;
  }

  .photo {
    padding-top: 30px;
  }

  .modal {
    max-width: 90%;
  }
}

@media (max-width: 630px) {
  .header__nav {
    padding: 20px;
  }

  .burger--active .burger__line {
    background-color: var(--orange);
    -webkit-transform: rotate(45deg) translateY(5px);
    -ms-transform: rotate(45deg) translateY(5px);
    transform: rotate(45deg) translateY(5px);
  }

  .burger--active .burger__line:nth-child(2) {
    -webkit-transform: rotate(-45deg) translateY(-5px);
    -ms-transform: rotate(-45deg) translateY(-5px);
    transform: rotate(-45deg) translateY(-5px);
  }

  .header__container {
    padding: 10px 10px;
  }

  .problems__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }

  .problems__img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 560px) {
  .nav__list .nav__item {
    padding: 0 20px;
  }

  .header__logo-big {
    display: none;
  }

  .header__logo-small {
    display: block;
    width: 60px;
    height: 60px;
  }

  .nav--active {
    padding: 10px;
  }

  .header__nav {
    width: 100%;
  }

  .about {
    padding-top: 50px;
  }

  .consultation__stage {
    padding-left: 0;
  }

  .stage-order {
    left: 45%;
  }

  .consultation__stage:nth-last-of-type(1) {
    height: 130px;
  }

  .consultation__stage-left {
    left: 0%;
  }

  .disease__item {
    width: calc((100% / 2) - 20px);
  }

  .photo__item {
    width: 47%;
    height: 300px;
  }

  .item-text {
    height: 200px;
    gap: 20px;
  }

  .photo__img {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }

  .item-text {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .consultation__stage-text {
    line-height: 25px;
  }

  .consultation__stage {
    height: 230px;
  }

  .element-animation.element-show .stage-progress {
    height: 230px;
  }


  .specialists__card {
    background-size: 45%;
  }
}

@media (max-width: 440px) {
  .hero {
    background-position: right 45% center;
  }

  .hero__text {
    font-size: 16px;
  }

  .disease__item {
    width: 100%;
  }

  .category__btn {
    width: 50%;
  }

  .photo__item {
    width: 100%;
  }

  .item-text {
    padding: 10px;
  }

  .modal {
    padding: 50px 35px;
  }

  .modal__btn-close {
    top: 30px;
    right: 30px;
  }

  .consultation__stage {
    height: 170px;
  }

  .consultation__stage-text {
    position: relative;
    left: 35px;
    right: auto;
    max-width: 80%;
  }

  .stage-order {
    left: 0;
  }

  .element-animation.element-show .stage-progress {
    height: 140px;
  }

  .consultation__stage-left {
    text-align: left;
  }

  .specialists__card::before {
    width: 320px;
    height: 320px;
  }

  .specialists__card {
    background-size: 50%;
  }
}